[package]
name = "manticore-knn-embeddings"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
candle-core = "0.9.2"
tokenizers = "0.15.2"
hf-hub = { git = "https://github.com/huggingface/hf-hub.git", rev = "ac22200ea0b5af4d8c362f699be0340647b19060", default-features = false,features = ["ureq"] }
anyhow = "1.0.81"
candle-nn = "0.9.2"
candle-transformers = "0.9.2"
serde_json = "1.0.114"
serde = "1.0.197"
rand = "0.8.5"
reqwest = { version = "0.12.8", default-features = false, features = ["blocking", "json", "rustls-tls"] }
rayon = "1.10.0"

[build-dependencies]
cbindgen = "0.26.0"

# Example of customizing the library in Cargo.toml.
[lib]
name = "manticore_knn_embeddings"
crate-type = ["cdylib"]

[profile.release]
opt-level = "z"
codegen-units = 1
lto = true
strip = "debuginfo"

[dev-dependencies]
approx = "0.5.1"
